<div class="profile">
  @if (profileData$ | async; as data) {
    <ng-container>
      <h2>Welcome, {{ data.user.firstName }}</h2>
      <div class="actions">
        <button (click)="handleEditProfile()">Edit Profile</button>
        <button class="logout" (click)="handleLogout()">Logout</button>
      </div>
    
      <!-- Error Message -->
      @if (error) {
        <p class="error">{{ error }}</p>
      }
      
    
      <!-- Profile Details -->
      <div class="details">
        <h3>My Profile Details</h3>
        <p><strong>Email:</strong> {{ data.user.email }}</p>
        <p><strong>Phone Number:</strong> {{ data.user.phoneNumber }}</p>
      </div>
    
      <!-- Bookings Section -->
      <section>
        <h3>My Booking History</h3>
        @if (data.bookings && data.bookings.length > 0) {
        <div>
          @for (booking of data.bookings; track booking?.bookingReference) {
          <div class="item">
            <p><strong>Booking Code:</strong> {{ booking?.bookingReference }}</p>
            <p>
              <strong>Check-in Date:</strong> {{ booking?.checkInDate | date }}
            </p>
            <p>
              <strong>Check-out Date:</strong> {{ booking?.checkOutDate | date }}
            </p>
            <p><strong>Payment Status:</strong> {{ booking?.paymentStatus }}</p>
            <p><strong>Booking Status:</strong> {{ booking?.bookingStatus }}</p>
            <p><strong>Amount:</strong> {{ booking?.totalPrice | currency }}</p>
            <p><strong>Room Number:</strong> {{ booking?.room?.roomNumber }}</p>
            <p><strong>Room Type:</strong> {{ booking?.room?.roomType }}</p>
            <img [src]="booking?.room?.imageUrl" alt="Room" />
          </div>
          }
        </div>
        } @else {
        <div>
          <p>No bookings found.</p>
        </div>
        }
      </section>
    </ng-container>
  } @else {
    <!-- Loading Indicator -->
    <ng-container>
      <p>Loading profile...</p>
    </ng-container>
  }
</div>