<div class="container">

  <div class="row w-100 my-3">
    <!-- Error Message -->
    <div class="d-flex justify-contents-end px-0">
      @if (error) {
      <div class="alert alert-danger alert-dismissible fade show w-100 p-0" role="alert">
        <p class="text-center pt-3">{{ error }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      }
    </div>
  </div>
      
  <div class="row">
    <div class="d-flex justify-content-start w-100 px-0">

      <div class="col-md-3 me-4">
        <!-- Check-in Date Picker -->
        <div class="input-group mb-3">
          <input class="form-control" 
            placeholde="yyyy/mm/dd" 
            name="dpci" 
            ngbDatepicker 
            [(ngModel)]="startDate" 
            #dci="ngbDatepicker" 
          />
          <button class="btn btn-primary" (click)="dci.toggle()">
            <span><i class="bi bi-calendar-check-fill"></i></span>
          </button>
        </div>
      </div>

      <!-- Check-out Date Picker -->
      <div class="col-md-3 mx-4">
        <div class="input-group mb-3">
          <input class="form-control" 
            placeholde="yyyy/mm/dd" 
            name="dpco" 
            ngbDatepicker 
            [(ngModel)]="endDate" 
            #dco="ngbDatepicker" 
          />
          <button class="btn btn-primary" (click)="dco.toggle()">
            <span><i class="bi bi-calendar-check-fill"></i></span>
          </button>
        </div>
      </div>

      <!-- Room Type Selection -->
      <div class="col-md-3 mx-4">
        <div>
          <select class="form-select" [(ngModel)]="roomType" (change)="searchRoomsByType()">
            <option selected value="">All Room Types</option>
            @for (type of roomTypes; track type) {
            <option [value]="type">
              {{ type }}
            </option>
            }
          </select>
        </div>
      </div>

      <!-- Search Button -->
      <div class="col-md-3 ms-4">
        <button class="btn btn-success" (click)="handleSearch()">Search Rooms</button>
      </div>

    </div>
  </div>
</div>