<!-- room-result.component.html -->
<section>
  <div *ngIf="roomSearchResults && roomSearchResults.length > 0">
    <div *ngFor="let room of roomSearchResults" class="item" [attr.key]="room.id">
      <img src="./images/hotel-room.jpg" [alt]="room.roomNumber" />

      <div class="details">
        <h3>{{ room.type }}</h3>
        <p>Price: ${{ room.pricePerNight }}/Night</p>
        <p>Description: {{ room.description }}</p>
      </div>

      <div class="book-now">
        <!-- Conditionally render button based on admin status -->
        <button *ngIf="isAdmin" (click)="navigateToEditRoom(room.id)">
          Edit Room
        </button>
        <button *ngIf="!isAdmin" (click)="navigateToRoomDetails(room.id)">
          View/Book Now
        </button>
      </div>
    </div>
  </div>
</section>
